p.gay {
      color: rgb(0, 0, 0);
      font-size: 250%;
      text-align:center;
  }
p.notgay {
  font-size: 200%;
  text-align: center;
}

.what {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.color {
  background-color: brown;
  text-align: center;
}

#TopButton {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 18px;
}

.slide {
  width: 50%;
  height: auto;

}

#thehell {
  width: 50;
}

.aboutmetitle {
  font-size: 250%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbo7-Bn1huQvHmwpzpvgc6cLto0nI9lJ_z_gISdQ2vDqSAasFX);
color: red;
}

.education {
  font-size:200%;
}

.aboutmepara {
text-align: center;
}

.colorpara {
  background-color:rgb(250, 228, 27);
}

.social {
  background-color: rgb(0, 108, 134);
}

.contact {
  text-align: center;
}

.feedback {
  text-align: center;
}

.feed {
  background-color: chartreuse;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.tabtext {
  text-align: center;
}

.lin {
  text-align: center;
  background-color: rgb(37, 153, 114);
}

.table {
  margin-left: 20%;
  margin-right: 20%;
}
.tableres {
  overflow-x: auto;
}
